bridge_data_v2/
bridge_data_v2_onehot/
bridge_data_v2_filtered/
bridge_data_v2_onehot/

fractal20220817_data/
stanford_hydra_dataset_converted_externally_to_rlds/
jaco_play/
bc_z/
droid/
iamlab_cmu_pickup_insert_converted_externally_to_rlds/
ucsd_kitchen_dataset_converted_externally_to_rlds/
berkeley_autolab_ur5/
bridge_dataset/
austin_sirius_dataset_converted_externally_to_rlds/
language_table/
utaustin_mutex/

bridge_dataset_filtered/
fractal20220817_data_filtered/
bc_z_filtered/
iamlab_cmu_pickup_insert_converted_externally_to_rlds_filtered/
stanford_hydra_dataset_converted_externally_to_rlds_filtered/
jaco_play_filtered/
language_table_filtered/

**/images/
downloaded_images/
generated_images/
onehot_images/
pick_corn_apr16/
pick_cup_apr16/
pick_pepper_apr16/
pick_corn_noisy_apr16/
pick_cup_noisy_apr16/
pick_pepper_noisy_apr16/
onehot_images/
training_dataset/

*.log